/*
 * color schema
 * http://colorschemedesigner.com/#0021TsYrXv5w0
 *
*/

/*
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/
body {
    font-size: 18px;
    line-height: 1.3;
    background-color: #202020;
    background-image: url(/img/binding_dark/binding_dark.png);
    background-repeat: repeat-x repeat-y;
    color: #969696;
}

a {
    text-decoration:none;
    color: #DF1515; 
}

/*------------------------------------------------------------------------------*/

/*---- header part ----*/
.hero-unit {
    /*background-image: url(/img/hero-wall.png);*/
    background-color: #202020;
    height: 200px;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
}

.white-panel-top {
    background-color: #f8f8f8;
    border: 1px solid #dadada;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    color: #333333;
    margin-bottom: 40px;
    margin-top: -90px;
}
.white-panel {
    background-color: #f8f8f8;
    border: 1px solid #dadada;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    color: #333333;
    margin-top: 30px;
    margin-bottom: 30px;
}
.search-box {
    margin-top: 20px;
}
.height30 { height: 30px; }
.text-black { color: block; }


/*---- content part ----*/
.voffset20 { margin-top: 20px; }
.voffset50 { margin-top: 50px; }
.status_num { text-align: center; }
.size48 {
    font-size: 48px;
    font-weight: bold;
}
.size24 {
    font-size: 24px;
    font-weight: bold;
}

.tweet {
    width: 600px;
    background: #333333;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    padding: 6px;
    margin: 10px 2px;
}
.tweet .profile_img {
    border: 0px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.tweet .userinfo { margin-bottom: 6px; }
.tweet .userinfo .id { color: #DF1515; }
.tweet .userinfo .timestamp { font-size: 0.8em; }
.tweet .userinfo .url { color: #DF1515; }


/*---- footer part ----*/
.footer {
    margin-top: 50px;
    padding: 20px 20px;
    text-shadow: 1px -1px 0 rgba(0,0,0,1);
    background-color: #202020;
    border-top-color: #191919;
    border-top-width: 1px;
    border-top-style: solid;
}
