.zurui-sen {
    border-bottom: 1px solid rgba(0,0,0,1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.zurui-sen-white {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.zurui-sen-left {
    border-left: 1px solid rgba(0,0,0,1);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
}
.zurui-sen-right {
    border-right: 1px solid rgba(0,0,0,1);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1) inset;
}

.zurui-border {
    border-bottom: 2px groove rgba(40,40,40,1);
}
